<div class="registration border-bottom">
  <h1 class="text-center bold">AEC</h1>

  <%= simple_form_for resource, as: resource_name, url: member_registration_path, remote: true do |f| %>
    <%= f.error_notification %>

    <%= f.input :email, placeholder: 'ejemplo@gmail.com', label: 'Correo electrónico', autofocus: true %>
    <%= f.input :password, placeholder: 'min. 8 caracteres', label: 'Contraseña' %>
    <%= f.input :password_confirmation, placeholder: 'confirmación', label: 'Confirmar Contraseña' %>

    <div class="center-button">
      <%= f.submit 'Registrarme' %>
    </div>
  <% end %>
</div>

<div class="text-center muted pd-tp-2">
  ¿Ya tienes cuenta?
  <%= link_to "Ingresa aquí.", root_path %>
</div>
