<%= simple_form_for current_member, url: attendances_path, wrapper_mappings: { boolean: :inline_boolean } do |f| %>
  <%= f.error_notification %>

  <%= render 'header' %>
  <%= render members, f: f %>

  <div class="text-center pd-tp-3">
    <%= f.submit "Actualizar", class: "btn btn-success mx-sm-2" %>
  </div>
<% end %>

