<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "AEC", root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="countries" class="nav-item <%= 'active' if current_page?(countries_path) %>">
        <%= link_to "Paises", countries_path, class: "nav-link #{'disabled' unless current_member}"  %>
      </li>
      <li id="reports" class="nav-item <%= 'active' if current_page?(reports_path) %>">
        <%= link_to "Reportes", reports_path, class: "nav-link #{'disabled' unless current_member}"  %>
      </li>
    </ul>
    <% if current_member %>
      <span class="navbar-text bold">
        <%= button_to "Salir", destroy_member_session_path, method: :delete, class: "btn btn-danger bold", id: "sign_out" %>
      </span>
    <% end %>
  </div>
</nav>
