<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/header_content" %>
    <%= render "application/navigation" %>
    <div class="app-flash mx-4 mt-4">
      <%= render "flash" %> 
    </div>
  </head>
  <%= content_tag :body, data: { action: action_name, controller: controller_name, path: request.path } do %>
    <%= yield %>
  <% end %>
</html>
